
*.properties

*.xml

*.properties

*.class

HierarchicalTopics/build/classes/.netbeans_automatic_build

HierarchicalTopics/build/classes/.netbeans_update_resources

*.rs

*.form
/HierarchicalTopics/nbproject/private/
/HierarchicalTopics/build/
*.txt
